[submodule "openexr"]
	path = thirdparty/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "nativefiledialog-extended"]
	path = thirdparty/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
